/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My own code starts from here*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@500&display=swap');

body {
  background-color: #FBFDFC;
  overflow: auto;
  margin: 0;
  padding: 0;
  width: auto; 
  overflow-x: hidden;
  overscroll-behavior-y: none;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #FBFDFC;
  margin-bottom: 75px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

header a {
  font-family: 'Playfair Display', serif;
  color: #296997;
  font-weight: 700;
  font-size: 30px;
}

footer p {
  font-family: 'Playfair Display', serif;
  color: #296997;
  font-weight: 700;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #A33B3C;
  font-weight: 800;
  -webkit-transition: 55ms ease-out;
  -o-transition: 55ms ease-out;
  transition: 55ms ease-out;
}

header a:visited {
  color: #296997;
}

header a:hover {
  color: #67C2E2;
}

header a:active {
  color: #EDC655;
}

section {
  margin: 10px;
}

section a:active {
  color: #EDC655;
}

section a:visited {
  color: #A33B3C;
}

section a:hover {
  color: #D64A4A;
  font-size: 22px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.courses, .work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.course_item {
  background-color: #B5CE6F;
  padding: 15px;
}

.work_item {
  background-color: #B5CE6F;
  padding: 15px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.portrait {
  float: left;
  width: 250px;
  border-radius: 50%;
  margin-right: 40px;
}

h1, h2, h3, img, p, td {
  cursor: default;
  color: #111111;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 25px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 20px;
}

label, p, a, td, img{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.skill_set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skill_item {
  background-color: #FBFDFC;
  padding: 15px;
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  text-align: center;
}

.skill_item:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.CV_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.page_footer {
  background-color: #FBFDFC;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social_media {
  margin: 10px 15px;
}

footer img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.button {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #A33B3C;
  border-color: #1B1F2326;
  -webkit-box-shadow: rgba(#1B1F2326, 0.04) 0px 1px 0px 0px, rgba(#ffffff, 0.25) 0px 1px 0px 0px inset;
          box-shadow: rgba(#1B1F2326, 0.04) 0px 1px 0px 0px, rgba(#ffffff, 0.25) 0px 1px 0px 0px inset;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.button:hover {
  color: #111111;
  border-color: #1B1F2326;
  opacity: 0.8;
}

.button:focus {
  color: #111111;
  border-color: #1B1F2326;
  opacity: 0.8;
}

.center_text {
  text-align: center;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Lato', sans-serif;;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Lato', sans-serif;;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Lato', sans-serif;;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Lato', sans-serif;;
}

.container {
  border-radius: 5px;
  background-color: #F6F6F6;
  padding: 20px;
}

@media all and (max-width: 500px) {
  .courses, .work {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .skill_set {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .courses, .work {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .skill_item {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media all and (max-width: 750px) {
  .courses, .work {
    grid-gap: 10px;
  }
  .course_item:last-child, .work_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #EDC655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #EDC655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}